h1 {
    font-size: 50px; 
}

h2 {
    color: blue;
}

h3 {
    color: red;
}
h4.job-title {
    color: darkcyan;
}

h2#menu {
    font-weight: bold;
    font-size: 14px;
    color: purple;
}

a {
    color: darkblue;
}

h2#job {
    color: blue;
}

li {
    list-style-type: square;
}

.main {
    color: lime;
    font-weight: bold;
}


/* .navlink {
    color: red;
} */