* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	color: #333;
	background-color: #ede8f5;
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
	padding: 20px 30px;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 10px 0;
}

li {
	margin-left: 25px;
}
